* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 5px;
}

#container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: 5px 5px;
}

#ui {
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
