#ui {
  display: grid;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(12, auto);
  gap: 5px 5px;
  grid-template-areas:
    ". . . . . . . . . . . ."
    ". nTubesLabel nTubesLabel nTubesInput nTubesInput tubeSizeDropdown tubeSizeDropdown . volumeDispensedLabel volumeDispensedLabel volumeDispensedLabel ."
    ". flowrateLabel flowrateLabel flowrateInput flowrateInput flowrateUnitsDropdown flowrateUnitsDropdown . . . . ."
    ". totalTimeLabel totalTimeLabel totalTimeInput totalTimeInput totalTimeUnitsDropdown totalTimeUnitsDropdown . timeElapsedLabel timeElapsedLabel timeElapsedLabel ."
    ". volumePerFractionLabel volumePerFractionLabel volumePerFractionInput volumePerFractionInput volumePerFractionUnitsDropdown volumePerFractionUnitsDropdown . . . . ."
    ". totalVolumeLabel totalVolumeLabel totalVolumeInput totalVolumeInput totalVolumeUnitsDropdown totalVolumeUnitsDropdown . tubeNumberLabel tubeNumberLabel tubeNumberLabel ."
    ". nFractionsLabel nFractionsLabel nFractionsInput nFractionsInput . . . . . . ."
    ". . . . . . . . . . . ."
    ". runButton runButton pauseButton pauseButton resumeButton resumeButton stopButton stopButton . . ."
    ". . . . . . . . . . . ."
    ". testLabel sendButton sendInput receiveText receiveText . connectButton connectButton statusLabel statusLabel ."
    ". . . . . . . . . . . .";
}

.gi-center-vertical {
  display: grid; /* new */
  align-items: center; /* new */
  /* justify-items: center; /* new */
}

#nTubesLabel {
  grid-area: nTubesLabel;
}

#nTubesInput {
  grid-area: nTubesInput;
}

#flowrateLabel {
  grid-area: flowrateLabel;
}
#flowrateInput {
  grid-area: flowrateInput;
}

#flowrateUnitsDropdown {
  grid-area: flowrateUnitsDropdown;
}

#tubeSizeDropdown {
  grid-area: tubeSizeDropdown;
}

#totalTimeLabel {
  grid-area: totalTimeLabel;
}

#totalTimeInput {
  grid-area: totalTimeInput;
}

#totalTimeUnitsDropdown {
  grid-area: totalTimeUnitsDropdown;
}

#volumePerFractionLabel {
  grid-area: volumePerFractionLabel;
}

#volumePerFractionInput {
  grid-area: volumePerFractionInput;
}

#volumePerFractionUnitsDropdown {
  grid-area: volumePerFractionUnitsDropdown;
}

#totalVolumeLabel {
  grid-area: totalVolumeLabel;
}

#totalVolumeInput {
  grid-area: totalVolumeInput;
}

#totalVolumeUnitsDropdown {
  grid-area: totalVolumeUnitsDropdown;
}

#nFractionsLabel {
  grid-area: nFractionsLabel;
}

#nFractionsInput {
  grid-area: nFractionsInput;
}

#volumeDispensedLabel {
  grid-area: volumeDispensedLabel;
}

#timeElapsedLabel {
  grid-area: timeElapsedLabel;
}

#tubeNumberLabel {
  grid-area: tubeNumberLabel;
}

#runButton {
  grid-area: runButton;
}

#pauseButton {
  grid-area: pauseButton;
}

#resumeButton {
  grid-area: resumeButton;
}

#stopButton {
  grid-area: stopButton;
}

#connectButton {
  grid-area: connectButton;
}

#statusLabel {
  grid-area: statusLabel;
}

#testLabel {
  grid-area: testLabel;
}
#sendButton {
  grid-area: sendButton;
}
#sendInput {
  grid-area: sendInput;
}
#receiveText {
  grid-area: receiveText;
}
